# Vercel
.vercel/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android Studio / IntelliJ
.idea/
*.iml

# Build cache
.last_build_id

# OS
.DS_Store
Thumbs.db